ament_copyright==0.12.14
ament_flake8==0.12.14
ament_index_python==1.4.0
ament_pep257==0.12.14
bosdyn_api==5.0.1
bosdyn_choreography_client==5.0.1
bosdyn_client==5.0.1
bosdyn_core==5.0.1
bosdyn_mission==5.0.1
bosdyn_orbit==5.0.1
geometry_msgs==4.9.0
grpcio==1.59.3
launch_ros==0.19.13
nav_msgs==4.9.0
numpy==2.4.2
opencv_python==4.8.1.78
py_trees==2.4.0
py_trees_ros==2.4.0
pytest==7.3.1
rclpy==3.3.19
setuptools==59.6.0
spot_bt_ros_py.egg==info
std_srvs==4.9.0
synchros2.egg==info
torch==2.10.0
torchvision==0.25.0
